.button-tab{
    background-color: lightblue; /* Green background */
    border: 1px solid lightblue; /* Green border */
    border-radius: 25px;
    margin-bottom:5px;
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 30%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.button-tab:hover {
     background-color: white;
     color: black;
}

.Left{
  border-radius: 25px;
  float:left;
  width: 30%;
  height: 200px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 10px;
}

.Right{
  float: left;
  width: 65%;
  height: 200px; /* only for demonstration, should be removed */
  background: white;
  padding: 10px;
}

.content {
    margin-left: 30%;
    background: white;
}
